################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Uno/bin/Debug
/Uno/obj/Debug
/Uno.UnitTestts/obj
/Uno.UnitTestts/bin/Debug/net6.0
/.vs
